.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #afabab;
}

.form {
  width: 100%;
  max-width: 750px;
  height: 70vh;
  margin: 40px auto;
  padding: 25px 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Inter", sans-serif;
}

.form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 42px;
  color: #222;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  height: 6vh;
  padding: 10px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
  background: #fafafa;
}

.form textarea {
  min-height: 200px;
  resize: vertical;
}

.form button {
  background: #4b7bec;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

.form button:hover {
  background: #3867d6;
}

.error {
  color: #d63031;
  font-size: 13px;
  margin-top: -7px;
}
