.track-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.track-title {
  margin-bottom: 20px;
  text-align: center;
}

.header{
  width: 100%;
  height: 5vh;
  background: #2874f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header button{
  width: 20%;
  height: 4vh;
  background-color: white;
  margin: 5px;
  border-radius: 15px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.order-card {
  padding: 14px;
  border-radius: 8px;
  background: white;
}

.order-body {
  margin-top: 12px;
  margin-bottom: 10px;
}

.order-address {
  margin-top: 8px;
}

.order-address h4 {
  margin: 4px 0;
}

.no-orders {
  margin-top: 60px;
  text-align: center;
}

.loading {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {
  .track-wrapper {
    width: 95%;
  }

  .order-card {
    padding: 10px;
  }

  .track-title {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .order-card {
    padding: 8px;
  }
  .header button{
    width: 100px;
  }

  .order-body p,
  .order-address p {
    font-size: 14px;
  }
}
