.register-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f3f6;
}

.register-container {
  display: flex;
  width: 900px;
  height: 520px;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* LEFT PANEL */
.register-left {
  width: 40%;
  background-color: #2874F0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}

.register-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 28px;
}

.register-subtitle {
  opacity: 0.9;
  margin-bottom: 40px;
  font-size: 16px;
}

.register-image-wrapper {
  display: flex;
}

.register-image {
  width: 75%;
}

/* RIGHT PANEL */
.register-right {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0 40px;
  background: white;
}

/* FORM */
.register-form {
  width: 100%;
}

/* Inputs */
.register-input {
  margin-bottom: 22px !important;
  font-size: 16px !important;
}

.register-input input {
  font-size: 16px !important;
}

/* Buttons */
.register-btn {
  background-color: #fb641b !important;
  color: white !important;
  font-weight: bold !important;
  height: 42px;
  font-size: 15px !important;
  margin-bottom: 18px;
}

.register-btn:hover {
  background-color: #e75a15 !important;
}

.register-or {
  text-align: center;
  margin: 10px 0 18px 0;
  font-weight: 500;
  font-size: 15px;
}

.google-btn {
  background-color: white !important;
  color: #2874F0 !important;
  border: 1px solid #e0e0e0 !important;
  font-weight: bold !important;
  height: 42px;
  font-size: 15px !important;
}

/* bottom text */
.register-login-text {
  margin-top: 26px;
  font-size: 14px;
  text-align: center;
}

.register-login-text a {
  color: #2874F0;
  font-weight: 500;
  text-decoration: none;
}
